.form {
  background-color: $colorWhite;
  width: 70vw;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10% 0;

  // Had to increase specifity here since btn styles overwritted it
  .form__btn {
    border: 2px solid $colorWhite;
    background: $colorBlue;
  }

  &__input {
    border: none;
    outline: none;
    background-color: $colorWhite;
    text-align: center;
    padding: 10px;
    flex-grow: 1;

    &::placeholder {
      color: $colorPlaceholder;
      font-family: $josef;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      letter-spacing: 2.8px;
    }

    &:focus {
      box-shadow: inset 0 0 10px $colorSelect;
    }
  }
}

@media only screen and (max-width: 767px) {
  .form {
    flex-direction: column;
    height: 15vh;
    min-height: 80px;
  }
}
