.main-page {
  @include page-style(url(../img/bg1.png));
  min-height: 320px;
  height: 100vh;
  @include flexCenter();
  padding: 15% 0;

  &__header {
    color: $colorWhite;
    font-family: $josef;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.8px;
  }

  &__description {
    color: $colorWhite;
    font-family: $josef;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 6.82px;
  }

  .main-page__scroll {
    color: $colorWhite;
    font-family: $josef;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2.8px;
    text-transform: none;
  }
}
