@mixin flexCenter($direction: column) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: $direction;
}

@mixin page-style($url) {
  background-image: $url;
  background-position: top;
  background-size: cover;
}
