@import "./variables";
@import "./mixins";
@import "./primitives";

.nav-block {
  @include flexCenter(row);
  justify-content: space-around;
  background-color: $colorBlue;
}

.topnav a:first-child {
  display: none;
}

.nav-block__lnk {
  background-color: $colorBlue;
}

.topnav {
  overflow: hidden;
  background-color: $colorBlue;
}

.topnav a {
  float: left;
  display: block;
  padding: 28px 32px;
}

.topnav .icon {
  display: none;
  color: $colorWhite;
  font-size: 25px;
}

@media only screen and (max-width: 1023px) {
  .nav-block__lnk {
    display: none;
  }

  .topnav {
    width: 100%;
  }

  .topnav a:first-child {
    display: block;
  }

  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 24px;
  }
}
