.btn {
  background-color: $colorBlue;
  background: linear-gradient(40deg, $colorDarkBlue 45%, $colorBlue 45%);
  color: $colorWhite;
  font-family: $aleo;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  padding: 24px 38px;
  outline: none;
  border: none;

  &:hover {
    color: $colorSelect;
    cursor: pointer;
  }

  &:focus {
    color: $colorSelect;
    box-shadow: inset 0 0 10px $colorSelect;
  }

  &__icon {
    margin-left: 15px;
  }
}

.lnk {
  text-decoration: none;
  color: $colorWhite;
  font-family: $aleo;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  outline: none;
  display: block;

  &:hover {
    color: $colorSelect;
    cursor: pointer;
  }

  &:focus {
    box-shadow: inset 0 0 10px $colorSelect;
    color: $colorSelect;
  }
}

.brand {
  color: $colorWhite;
  font-family: $josef;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.page {
  min-height: 600px;
  padding: 15% 15%;
  max-width: 100%;

  &__header {
    color: $colorWhite;
    font-family: $aleo;
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    margin: 20px 0;
  }

  &__description {
    color: $colorGrey;
    font-family: $josef;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
    text-align: left;
    margin: 20px 0;
    line-height: 26px;
    max-width: 100%;
  }
}

.block {
  // Fallback for IE
  background-color: $colorCoalFull;
  background-color: $colorCoal;
  min-height: 350px;
  padding: 5% 5%;
  width: 100%;

  &__header {
    color: $colorGrey;
    font-family: $josef;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
  }

  &__sub-header {
    color: $colorGrey;
    font-family: $josef;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    margin: 20px 0;
  }

  &__description {
    color: $colorGrey;
    font-family: $josef;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 26px;
    margin: 20px 0;
    max-width: 100%;
  }
}

.quote {
  color: $colorBlue;
}

.social {
  margin: 0 10px;

  &:hover {
    color: $colorSelect;
    cursor: pointer;
  }
}

.fa-linkedin-in {
  color: $colorBlue;
}
