@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans&display=swap");
// Colors
$colorWhite: #ffffff;
$colorGrey: #e8e8e8;
$colorCoal: #232323;
$colorDarkGrey: #333333;
$colorBlue: #5474fd;
$colorPlaceholder: #999999;
$colorSearch: #5474fd;
$colorSelect: #ff6363;
$colorLike: #00a2ff;
// Fonts
$aleo: "Aleo", serif;
$josef: "Josefin Sans", sans-serif;
